<div class="row resume_section education_section" id="section-education">

  <div class="section_title">
    <h1>Education</h1>
    <hr class="pink">
  </div>

  <div class="section_content margin-120">
    
    <p><span class="educ-span">Institute: </span><a href="{{education.link}}">{{education.institute}}</a></p>
    <p><span class="educ-span">Graduated in </span>{{education.timeline}}</p>
    <p><span class="educ-span">Bachelor Degree in </span> {{education.degree}}</p>
    <p><span class="educ-span">Addressed technologies: </span>{{education.technologies}}</p>

  </div>

</div>
