<div class="row resume_section pink_section" id="info">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <img id="info_myphoto" src="media/images/Joana.png" alt="" class="img-responsive">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <h1 id="info_myname">{{info.first_name}} {{info.last_name}}</h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 info_style">
        <span class="info_span">DOB:</span> {{info.dob}} <br>
        <span class="info_span">Nationality:</span> Portuguese <br>
        <span class="info_span">Resident in:</span> {{info.residence}} <br>
        <span class="info_span">Permit:</span> B
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 info_style">
        <span class="info_span">Civil Status:</span> Married<br>
        <span class="info_span">Languages:</span> {{info.languages}}
        <span class="info_span">Email:</span> {{info.email}} <br>
        <span class="info_span">Phone number:</span> {{info.phone_number}}
      </div>
    </div>
    <div class="row">
      <div id="info_links" class="col-12">
        <span class="info_span">Links</span>
        <div class="tooltip">
          <a href="{{info.links.linkedin}}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <span class="tooltiptext">Linkedin</span>
        </div>

        <div class="tooltip">
          <a href="{{info.links.portfolio}}" target="_blank" class="tooltip">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <span class="tooltiptext">Porfolio</span>
        </div>
        <div class="tooltip">
          <a href="{{info.links.github}}" target="_blank" data-toggle="tooltip" title="Hooray!">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <span class="tooltiptext">GitHub</span>
        </div>
        <div class="tooltip">
          <a href="{{info.links.codepen}}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fab fa-codepen fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <span class="tooltiptext">CodePen</span>
        </div>
        <div class="tooltip">
          <a href="{{info.links.resume}}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fas fa-download fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <span class="tooltiptext">Download CV</span>
        </div>
      </div>
    </div>
  </div>
</div>
