@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
$main_pink: #D88A98;
$main_white: #ffffff;
$fontFamily: 'Roboto';


html, body{
  font-family: $fontFamily !important;
  width: 100%
}

body{
  padding-top: 56px;
}

nav{
  background-color: $main_white !important;
  font-size: 15px;
}

.navbar-light .navbar-brand{
  font-size: 2em;
}

.nav-link{
  cursor: pointer;
}

.nav-link:hover{
  color: $main_pink !important;
}

.color-letter{
  color: $main_pink;
  font-weight: 600;
}


.nav-item{
  a::first-letter{
    text-transform: uppercase;
    color: #d88a98;
    font-weight: 600;
  }
}

.resume_section{
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: $main_white;
}

.pink_section{
  background-color: $main_pink;
  color: $main_white;
  font-weight: 400;
}

.section_title{
  width: 100%;
  text-align: center;

  hr{
    max-width: 300px;
    border: 3.5px solid;
    border-radius: 40px;
  }
  hr.pink{border-color: $main_pink;}
  hr.white{border-color: $main_white;}

}

.section_content{
  width: 100%;
  text-align: justify;
}

.margin-120{margin: 0px 120px;}
.margin-80{margin: 0px 80px;}
.margin-40{margin: 0px 40px;}

ul.inline-icons{
  font-size: 3rem;
  text-align: center;
  li.icons{
    font-size: 3.5rem;
    list-style-type: none;
    padding: 0px 10px;
  }
}

footer{
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  color: $main_white;
  background-color: $main_pink;
  font-size: 1.1rem;
  i{
    font-size: 1.4rem;
  }
}
